* {
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: monospace;
  text-decoration: none;
   
}







body {
  background-color: #0a192f;
}



.navbar {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100vw;
    
   
   

    .navbar__links {
      display: flex;
      flex-direction: row;
      
     

      @media screen and (max-width: 768px) {
        display: none;
      }

        a {
        margin: 20px;
        color:  rgb(198, 198, 207);
        }

        a:hover {
          color: aqua;
        }
    }


    .hamburger {
      display: none;
      
      @media only screen and (max-width: 768px) {
        display: block;
      }

      .line {
        height: 3px;
        width: 30px;
        background-color: aqua;
        margin: 5px;
      }
    }


}








  

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  border: 2px solid purple;
  width: 350px;

  @media screen and (min-width: 1024px) {
    width: 90vw;
   }
    
  
  
    
   .introduction__opening {
     color: aqua;
     font-weight: 100;
     display: flex;
     flex-direction: column;
      
     @media screen and (min-width: 1024px) {
       font-size: 4rem;
      }
     
   

     .introduction__span {
       &--name {
         color: yellow;
       }

       &--tagline {
         color:  rgb(198, 198, 207);
       }

       &--information {
        color: rgb(198, 198, 207);
        margin: 10px;
       }

      }
     
    }

}
   




.aboutMe {
  
  margin-top: 10vh;

  @media screen and (min-width:1024px) {
    display: flex;
    
  }
  
      #myPic > img {
        width: 340px;
        height: 50vh;
        
        }


  
     .aboutMe__container {
       border: 2px solid orange;
       width: 340px;
       @media screen and (min-width:1024px) {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 40vw;
      }
       
        

         h2 {
            color:rgb(198, 198, 207);
                @media screen and (min-width:1024px) {
                  font-size: 4rem;
                }
            }

          p {
            color:rgb(198, 198, 207);
                @media screen and (min-width:1024px) {
                 font-size: 1.5rem;
                }
            }

       img {
          width: 335px;
       }


        

      }

    

   


}




.projects {
        .projects__container {
          display: flex;
          flex-wrap: wrap; 
          @media screen and (min-width:1024px) {
           display: grid;
           grid-template-columns: repeat(2,1fr);
           gap: 10vh;
           
          }


         
            .card {
              border: 3px solid blue;
              grid-template-columns: repeat(2);
              background-color: red;
              width: 76.5vh;

              @media screen and (min-width: 1024px) {
                display: flex;

              }
                
              

           
              
            
               h3 {
                color: aqua;
                  }
        
               .projects__previewButtons {
                 display: grid;
                 grid-template-columns: 1fr 1fr;
                 column-gap: 1vh;
                 margin: 2vh;
                }
      
    
                li {
                   color:rgb(198, 198, 207)
                   }  

                   
        
              

        
            }


         
        }
         
        
  

}





.contact {
 height: 95vh;
 border: 3px solid orange;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 7vh;
 width: 340px;
 
 @media screen and (min-width: 1024px) {
  border: 3px solid aqua;
  width: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

           .contact__mainheader {
             color: rgb(198, 198, 207);

             @media screen and (min-width: 1024px) {
               font-size: 4rem;
             }

             
        
           }

           .contact__subheader {
             color: rgb(198, 198, 207);

             @media screen and (min-width: 1024px) {
              font-size: 1.5rem;
            }
             
           }

            

}

