* {
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  text-decoration: none;
}

:root {
  --main-text-color: #fff;
  --alternative-text-color: aqua;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b2242;
  margin: 0;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  width: 100%;
  position: fixed;
  padding-left: 30px;
  background-color: #091d3a;
}

.navbar .hexlogo {
  margin-top: 11.25px;
  width: 39px;
  height: 22.5px;
  background-color: var(--alternative-text-color);
  border-color: var(--alternative-text-color);
  position: relative;
  display: inline-block;
}

.navbar .hexlogo:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 11.25px solid;
  border-color: inherit;
  border-left: 19.5px solid transparent;
  border-right: 19.5px solid transparent;
  position: absolute;
  top: -11.25px;
}

.navbar .hexlogo:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -11.25px;
  border-top: 11.25px solid;
  border-color: inherit;
  border-left: 19.5px solid transparent;
  border-right: 19.5px solid transparent;
}

.navbar .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__links {
    display: none;
  }
}

.navbar .navbar__links:nth-child(1), .navbar .navbar__links :nth-child(2), .navbar .navbar__links :nth-child(3), .navbar .navbar__links :nth-child(4) {
  margin: 20px;
  color: var(--main-text-color);
}

.navbar .navbar__links:hover {
  color: var(--alternative-text-color);
}

.navbar .navbar__links--resume {
  color: var(--alternative-text-color);
  background-color: transparent;
  border: 1px solid var(--alternative-text-color);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 15px;
  margin: 20px;
}

.navbar .hamburger__menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .hamburger__menu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
  }
}

.navbar .hamburger__menu--bar1, .navbar .hamburger__menu--bar2, .navbar .hamburger__menu--bar3 {
  height: 2px;
  width: 25px;
  background-color: var(--main-text-color);
  margin: 5px;
}

#introduction-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction-section .introduction__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduction-section .introduction__info--opening {
  color: var(--alternative-text-color);
  font-size: 3rem;
  margin-top: 10vh;
}

#introduction-section .introduction__info--name {
  color: yellow;
  font-size: 5rem;
}

#introduction-section .introduction__info--tagline {
  color: var(--main-text-color);
  font-size: 2rem;
}

#introduction-section .chevron-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 20vh;
}

#introduction-section .chevron-container .chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:before,
#introduction-section .chevron-container .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  cursor: pointer;
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

#aboutme-section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutme-section .aboutme__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme-section .aboutme__container h2 {
  color: var(--main-text-color);
  font-size: 1.5rem;
  margin: 3px;
  text-align: center;
}

#aboutme-section .aboutme__container hr {
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--alternative-text-color);
}

#aboutme-section .aboutme__container p {
  color: var(--main-text-color);
  font-size: 1rem;
  width: 80vw;
  text-align: center;
}

@media screen and (min-width: 600px) {
  #aboutme-section .aboutme__container p {
    font-size: 1.5rem;
    width: 50vw;
  }
}

#aboutme-section .chevron-containertwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 20vh;
}

#aboutme-section .chevron-containertwo .chevron-two {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
  cursor: pointer;
}

#aboutme-section .chevron-containertwo .chevron-two:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
  cursor: pointer;
}

#aboutme-section .chevron-containertwo .chevron-two:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
  cursor: pointer;
}

#aboutme-section .chevron-containertwo .chevron-two:before,
#aboutme-section .chevron-containertwo .chevron-two:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
  cursor: pointer;
}

#aboutme-section .chevron-containertwo .chevron-two:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
  cursor: pointer;
}

#aboutme-section .chevron-containertwo .chevron-two:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  cursor: pointer;
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

#projects-section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-section .headline-center {
  color: var(--main-text-color);
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}

@media screen and (min-width: 1024px) {
  #projects-section .headline-center {
    font-size: 3rem;
    text-align: center;
  }
}

#projects-section hr {
  width: 230px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--alternative-text-color);
}

#projects-section .projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects-section .projects__wrapper ul {
  min-width: 22%;
}

#projects-section .projects__wrapper li {
  cursor: pointer;
  padding: 10px;
  color: var(--main-text-color);
}

#projects-section .projects__wrapper li.active {
  background: var(--alternative-text-color);
}

#projects-section .projects__wrapper .item {
  width: 70%;
}

#projects-section .projects__wrapper .item img {
  display: inline-block;
  width: 28%;
  overflow: hidden;
  vertical-align: top;
  margin: 10px;
  border: 1px solid yellow;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #272626;
  position: relative;
}

.toggle-button {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: white;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  -webkit-box-shadow: inset 4px 4px 4px white, inset -4px -4px 4px #c3c102;
          box-shadow: inset 4px 4px 4px white, inset -4px -4px 4px #c3c102;
}

.changeColour {
  background-color: #e9ad86;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.changeColour .navbar {
  background-color: #eb7b4f;
}

.changeColour .navbar #myLogo, .changeColour .navbar a {
  color: black;
}

.changeColour .toggle-button {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toggle-button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */