* {
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  text-decoration: none;
}

:root {
  --main-text-color: #fff;
  --alternative-text-color: aqua;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  background-color: #0b2242;
}

.navbar {
  min-height: 7vh;
  min-width: 100%;
  padding-left: 2em;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #091d3a;
}

.navbar .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__links {
    display: none;
  }
}

.navbar .navbar__links:nth-child(1), .navbar .navbar__links :nth-child(2), .navbar .navbar__links :nth-child(3), .navbar .navbar__links :nth-child(4) {
  margin: 20px;
  -webkit-text-decoration: underline 0.15rem rgba(0, 0, 0, 0);
          text-decoration: underline 0.15rem rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-text-decoration-color 500ms;
  transition: -webkit-text-decoration-color 500ms;
  transition: text-decoration-color 500ms;
  transition: text-decoration-color 500ms, -webkit-text-decoration-color 500ms;
  color: var(--main-text-color);
}

.navbar .navbar__links:hover {
  -webkit-text-decoration-color: var(--alternative-text-color);
          text-decoration-color: var(--alternative-text-color);
  color: var(--alternative-text-color);
}

.navbar .navbar__links a.active-link {
  color: var(--alternative-text-color);
}

.navbar .navbar__links--resume {
  padding: 0.75em 1em;
  margin: 20px;
  font-size: 15px;
  color: var(--alternative-text-color);
  background-color: transparent;
  border: 1px solid var(--alternative-text-color);
  border-radius: 4px;
  cursor: pointer;
}

.navbar .hamburger__menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .hamburger__menu {
    margin-right: 10px;
    display: block;
    cursor: pointer;
  }
}

.navbar .hamburger__menu--bar1, .navbar .hamburger__menu--bar2, .navbar .hamburger__menu--bar3 {
  height: 2px;
  width: 25px;
  background-color: var(--main-text-color);
  margin: 5px;
}

#introduction-section {
  min-height: 100vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction-section .introduction__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduction-section .introduction__info--opening {
  margin-top: 10vh;
  font-size: 3rem;
  color: var(--alternative-text-color);
}

@media only screen and (max-width: 375px) {
  #introduction-section .introduction__info--opening {
    font-size: 1.5rem;
  }
}

#introduction-section .introduction__info--name {
  font-size: 5rem;
  font-weight: 600;
  color: yellow;
}

@media only screen and (max-width: 375px) {
  #introduction-section .introduction__info--name {
    font-size: 2rem;
  }
}

#introduction-section .introduction__info--tagline {
  font-size: 2rem;
  color: var(--main-text-color);
}

@media only screen and (max-width: 375px) {
  #introduction-section .introduction__info--tagline {
    font-size: 1rem;
  }
}

#introduction-section .chevron-container {
  min-height: 20vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#introduction-section .chevron-container .chevron {
  min-height: 0.48rem;
  min-width: 2.1rem;
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:before,
#introduction-section .chevron-container .chevron:after {
  content: '';
  min-height: 100%;
  min-width: 50%;
  top: 0;
  position: absolute;
  background: #2c3e50;
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
  cursor: pointer;
}

#introduction-section .chevron-container .chevron:after {
  min-width: 50%;
  right: 0;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  cursor: pointer;
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

#aboutme-section {
  min-height: 100vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutme-section .aboutme__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme-section .aboutme__container h2 {
  margin: 3px;
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-text-color);
}

#aboutme-section .aboutme__container hr {
  min-width: 10%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--alternative-text-color);
}

#aboutme-section .aboutme__container p {
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-text-color);
}

#aboutme-section .chevron-containerTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutme-section .chevron-containerTwo .chevron-two {
  height: 0.48rem;
  min-width: 2.1rem;
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
  cursor: pointer;
}

#aboutme-section .chevron-containerTwo .chevron-two:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
  cursor: pointer;
}

#aboutme-section .chevron-containerTwo .chevron-two:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
  cursor: pointer;
}

#aboutme-section .chevron-containerTwo .chevron-two:before,
#aboutme-section .chevron-containerTwo .chevron-two:after {
  content: '';
  min-height: 100%;
  min-width: 50%;
  top: 0;
  position: absolute;
  background: #2c3e50;
  cursor: pointer;
}

#aboutme-section .chevron-containerTwo .chevron-two:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
  cursor: pointer;
}

#aboutme-section .chevron-containerTwo .chevron-two:after {
  min-width: 50%;
  right: 0;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  cursor: pointer;
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

#projects-section {
  min-height: 100vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-section .headline-center {
  margin: 10px;
  font-size: 2rem;
  text-align: center;
  color: var(--main-text-color);
}

@media screen and (min-width: 1024px) {
  #projects-section .headline-center {
    font-size: 3rem;
    text-align: center;
  }
}

#projects-section hr {
  width: 15%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--alternative-text-color);
}

#projects-section .projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects-section .projects__wrapper ul {
  min-width: 22%;
}

#projects-section .projects__wrapper li {
  cursor: pointer;
  padding: 5%;
  color: var(--main-text-color);
}

#projects-section .projects__wrapper li.active {
  background: var(--alternative-text-color);
}

#projects-section .projects__wrapper .item {
  width: 70%;
}

#projects-section .projects__wrapper .item img {
  width: 20%;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid var(--alternative-text-color);
}

.toggle {
  min-height: 20px;
  width: 40px;
  position: relative;
  background-color: #272626;
  border-radius: 10px;
}

.toggle .toggle-button {
  min-height: 15px;
  width: 15px;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  background-color: white;
  border-radius: 7.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: inset 4px 4px 4px white, inset -4px -4px 4px #c3c102;
          box-shadow: inset 4px 4px 4px white, inset -4px -4px 4px #c3c102;
}

.changeColour {
  background-color: #e9ad86;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.changeColour .navbar {
  background-color: #eb7b4f;
}

.changeColour .navbar #myLogo, .changeColour .navbar a {
  color: black;
}

.changeColour .toggle-button {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */